__pycache__/
*.py[cod]
*.class
.env
.venv
venv/
.env*/
.venv*/
.env.local
*.sqlite3
/media
/staticfiles
.DS_Store
*.log
.idea/
.vscode/
.mypy_cache/
.pytest_cache/
.coverage
htmlcov/
.eggs/
*.egg-info/
